<nav  *ngIf="isLoggedIn" id="navbar" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark box-header-border box-header-shadow">
  <a class="navbar-brand" routerLink="/jobapplications/">Switch<span class="text-green">fully</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/candidates">Candidates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/campaigns">Campaigns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jobapplications">Jobapplications</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item dropdown">
        <div ngbDropdown>
       <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span class="fas fa-user"></span> <span class="label-title"> Signed-in as: </span><span id="loggedInUser">{{currentUserName}} </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu id="dropdownMenuHeader">
            <a class="dropdown-item" (click)="logOut()" id="logOutLink">Sign-out</a>
        </div>
      </div>
      </li>
    </ul>
  </div>
</nav>