<form class="form-inline" #DropngForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group mb-2">
        <label>Campaign name:</label>
    </div>
        <div class="form-group mx-sm-3 mb-2">
            <select required name="Campaign" #refCampaign="ngModel" class="form-control" [(ngModel)]="selectedCampaign" id="selectCampaign">
                <option value="" selected disabled>Please select</option>
                <option *ngFor="let campaign of campaings" [ngValue]="campaign.id">
                    {{campaign.name}}
                </option>
            </select>
            <br />
            <div *ngIf="!refCampaign.valid  && (refCampaign.dirty || refCampaign.touched)" class="alert alert-danger">
                <div [hidden]="!refCampaign.errors.required">
                    Campaign name is required
                </div>
            </div>
        </div>
        <button type="submit" id="jobapplicationCreateButton" class="btn btn-success btn-md mx-2" [disabled]="!DropngForm.form.valid">
            Submit
        </button>
        <button type="reset" class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>