<div class="row">
  <div class="col">
    <section class="box-section-shadow box-light-background sub-section" *ngIf="selectionSteps">
      <div  *ngFor="let selectionStep of selectionSteps" >
      <header>
        <a href="#" title="Edit"><span class="fas fa-edit float-right"></span></a>
        <h3><span class="fas fa-check-square text-green"></span> {{selectionStep.description}}</h3>
        <hr>
      </header>
      <main>
        <form>
          <div class="form-group">
            <label for="phoneScreeningNotesTextArea" class="label-title">Comments</label>
            <textarea class="form-control" id="CommentTextArea" rows="6" readonly>{{selectionStep.comment}}
            </textarea>
          </div>
        </form>
      </main>
    </div>
    </section>
    <div *ngIf="selectionSteps" class="sub-section-complete"></div>
  </div>
</div>


<div class="row" *ngIf="!jobapplication.selectionSteps || orderSelectionStepArray.length > jobapplication.selectionSteps.length">
  <div class="col">
    <section class="box-section-shadow box-light-background sub-section">
      <header>
        <h3><span class="fas fa-square text-muted"></span> {{nextSelectionStep}}</h3>
        <hr>
      </header>
      <main>
        <form [formGroup]="SelectionStepForm" (ngSubmit)="isValid() && save()">
          <div class="form-group">
            <label for="{{nextSelectionStep}}NotesTextArea" class="label-title">Comments</label>
            <textarea formControlName="comment" class="form-control" id="{{nextSelectionStep}}NotesTextArea" rows="6"></textarea>
          </div>
          <button type="button" name="cancel" class="btn btn-outline-secondary btn-sm" (click)="cancel()">Cancel</button>
          <button type="submit" class="btn btn-success btn-sm float-right">Save</button>
        </form>
      </main>
    </section>
    
  </div>
</div>

<div class="row" *ngIf="jobapplication.selectionSteps && orderSelectionStepArray.length === jobapplication.selectionSteps.length  && jobapplication.status !== 'Hired' ">
    <button type="click" (click)="accept()" class="btn btn-success btn-sm float-right">Accept</button>
</div>